<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firetds">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true">
            <!-- Intent filter for launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:label="Home Activity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".WelcomeActivity"
            android:exported="true" />

        <activity
            android:name=".TestActivity"
            android:label="Test Activity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".TreatmentOptionsActivity"
            android:label="Treatment Options"
            android:theme="@style/AppTheme"
            android:parentActivityName=".TestActivity"
            android:exported="true" />

        <activity
            android:name=".PredictionActivity"
            android:label="Prediction Activity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".HistoryList"
            android:exported="true" />

        <activity
            android:name=".LanguageSelectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

    </application>
</manifest>
